h2{
    font-family: font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 29px;
}
h1{
    font-family: serif;
    font-weight: 700;
    font-size: 40px;
}
p{
    font-size: 15px;
    color: grey;
}
.half-width-left {
    width: 30%;
    float: left;
    padding-top: 60px;
    padding-left: 227px;
}
.half-width-right {
    float: right;
    width: 48%;
    padding-top: 50px;
}
.half-width-left-sec2 {
    float: left;
    width: 48%;
    padding-top: 50px;
    padding-left: 82px;
}
.half-width-right-sec2 {
    width: 30%;
    float: left;
    padding-top: 102px;
    
}

}
#jack{
    padding-left: 220px;
    padding-top: 130px;
}
   

.link-button{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(240, 6, 6) ;
    border-radius: 5px;
    padding: 10px 20px;
}
.header-section {
    background-image: url(header-bg.png);
    width: 100%;
    height: 593px;
}
{
    padding-right: 133px;
    padding-left: 235px;
    padding-top: 0px;
}
.peterchobi{
    height: 500px;
}
.dream-peter {
    background-image: url(biography-bg.png);
    width: 100%;
    height: 674px;
}
.latest-work{
        background-image: url(latest-work-bg.png);
        width: 100%;
        height: 364px;
}
.latest-work-text{
    text-align: center;
}
.latest-work-chobi{
    float: left;
    padding-left: 88px;
    
}
.sob-chobi{
    padding-left: 180px;
}

   
}
.chobi{
    height: 100px;
    float: left;
}
.client{
    text-align: center;
}
.bruce{
    text-align: center;
}
.lorem{
    text-align: center;
}
.contact{
    text-align: center;
    background-color: rgb(198, 29, 12);
    border-radius: 5%;
    width: 55%;
    margin-left: 302px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.copyright{
    text-align: center;
    padding-top: 200px;
}